body{
    background-color: #ECEFF1;
    margin: 0;
    padding: 0;
    font-family: poppins;
}
/* header section starts here */
header{
    position: sticky;
    top: 0;
    right: 0;
    z-index: 999;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightblue;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    height: 70px;
}

#check{
    display: none;
}
.logo{
    display: flex;
    align-items: center;
    gap: 18px;

}
.logo h1{
    font-size: 28px;
    line-height: 25px;
    
}

.logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

.links a{
    color: white;
    padding: 7px 13px;
    border-radius: 3px;
    margin-right: 10px;
    font-size: 20px;
} 

.checkbtn{
    display: none;

}
/* main section starts here */

main{
    padding: 0px 30px;
    padding-bottom: 25px;

}

span{
    color: #003e8f ;
    font-weight: bold;
}

.images{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    }
.images img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
/* main section ends here */

    /* footer section starts here */
footer{
    display: flex;
    flex-direction: column;
    
}
.footer-top{
    display: flex;
    padding: 20px;
    align-items: center;


}
.footer-left{
    width: 50%;
    height: 90%;
}
.footer-right{
    width: 50%;
    height: 45vh;
    
}

.footer-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer-top{
    background-color:lightblue;
    display: flex;
}

.footer-left{
    padding: 20px;
    width: 50%;
    height: 45vh;

}

.trust{
    color: rgb(145, 151, 146);
    font-weight: bold;
}

.lunch{
    color: white;
}

.footer-bottom{
    height: 10vh;
    background-color: #b7c7d1;
    display: flex;
    align-items: center;
    padding-left: 5%;
    color: white;
}
/* footer section ends here */

/* media quary and responsive design starts here */
@media(max-width: 639px){
    .links{
        position: fixed;
        top: 70px;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    .links a{
        display: block;
        margin: 50px 0px;
        line-height: 25px;
    }
    .checkbtn{
        display: flex;
        color: #ffcc29;
        font-size: 30px;
        margin-left: 20px;
        margin-right: 20px;
    }
    /* css subsequent-sibling (~) combinator */

    /* #check{
        display: block;
    } */
     #check:checked ~ .links{
        left: 0;
     }
     .images img{
        width: 100%;
        height: 300px;
     }
     .logo h1{
        font-size: 30px;
     }
     .footer-top{
        display: flex;
        flex-wrap: wrap;
     }
     
     .footer-left{
        width: 100%;
        height: 100%;
     }
}

@media (640px <= width <=767px){
    .images img{
        width: 47%;
        height: 300px;
    }
    .images{
        display: flex;
        flex-wrap:wrap;
        gap: 33px;
    }
    .trust{
        color: blue;
        font-weight: bold;
    }
}

@media (768 <= width <= 1023){
    .images img{
        width: 30%;
        height: 200px;
    }
    .images{
        display: flex;
        flex-wrap: wrap;
        gap: 33px;
    }
    .trust{
        color:  rgb(145, 151, 146);
        font-weight: bold;

    }
}

@media (1024px <= width <=1279px){
    .images img{
        width: 22%;
        height: 200px;
    }
    .images{
        display: flex;
        flex-wrap: wrap;
        gap: 35px;
    }
    .trust{
        color:  rgb(145, 151, 146);
        font-weight: bold;
    }
    
}

@media (1280px <= width 1535px){
    .images img{
        width: 15%;
        height: 200px;
    }
    .images{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .trust{
        color:  rgb(145, 151, 146);
        font-weight: bold;
    }
}

@media (min-width: 1536px){
    .images img{
        width: 12%;
        height: 200px;
    }
    .images{
        display: flex;
        flex-wrap: wrap;
        gap: 33px;
    }
    .trust{
        color:  rgb(145, 151, 146);
        font-weight: bold;
    }
}